<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:pylon-context="http://pylon.hkntv.com/schema/context" xmlns:pylon-datasource="http://pylon.hkntv.com/schema/datasource"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.6.xsd
		http://pylon.hkntv.com/schema/context http://pylon.hkntv.com/schema/context/pylon-context-1.0.0.xsd
		http://pylon.hkntv.com/schema/datasource http://pylon.hkntv.com/schema/datasource/pylon-datasource-1.0.0.xsd"
	default-lazy-init="true">
	
	<pylon-context:property-placeholder ignore-resource-not-found="true"/>
	
	<bean id="orikaBeanMapper" class="com.hkntv.pylon.core.beans.mapping.orika.OrikaBeanMapper">
		<property name="basePackage" value="com.hkntv.riims.core.model.**"></property>
	</bean>

	<!-- Gson -->
	<bean id="gson" class="com.google.gson.Gson" />
	
	<!--i18n-->
  	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
      	<property name="basenames">
            <list>
                <value>classpath:i18n/messages</value>
            </list>
       	</property>
      	<property name="defaultEncoding" value="UTF-8"/>
		<property name="fallbackToSystemLocale" value="false"/>
   	</bean>
   	
	<!-- validator -->
   	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
    	<property name="validationMessageSource" ref="messageSource"/>
    </bean>

	<context:component-scan base-package="com.hkntv.**.repository" />
	<context:component-scan base-package="com.hkntv.**.service" />
	
	<context:annotation-config />
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hkntv.**.repository" />
		<property name="sqlSessionFactoryBeanName" value="myBatisSqlSessionFactory" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" /> 
	</bean>

	<bean id="myBatisSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mapper/*Mapper.xml" />
	</bean>

	<bean id="transactionManager" class="com.hkntv.pylon.data.datasource.SmartDataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<pylon-datasource:jdbc-matrix id="dataSource">
		<pylon-datasource:readWriteDataSource name="readwrite">
			<pylon-datasource:writeDataSource logicName="riims" />
		</pylon-datasource:readWriteDataSource>
	</pylon-datasource:jdbc-matrix>

</beans>